.gap-xs {
  margin: 6px;
}
.gap-s {
  margin: 10px;
}
.gap {
  margin: 20px;
}
.gap-l {
  margin: 40px;
}
.gap-xl {
  margin: 80px;
}
.hgap-xs {
  margin-left: 6px;
  margin-right: 6px;
}
.hgap-s {
  margin-left: 10px;
  margin-right: 10px;
}
.hgap {
  margin-left: 20px;
  margin-right: 20px;
}
.hgap-l {
  margin-left: 40px;
  margin-right: 40px;
}
.hgap-xl {
  margin-left: 80px;
  margin-right: 80px;
}
.vgap-xs {
  margin-top: 6px;
  margin-bottom: 6px;
}
.vgap-s {
  margin-top: 10px;
  margin-bottom: 10px;
}
.vgap {
  margin-top: 20px;
  margin-bottom: 20px;
}
.vgap-l {
  margin-top: 40px;
  margin-bottom: 40px;
}
.vgap-xl {
  margin-top: 80px;
  margin-bottom: 80px;
}
.lgap-xs {
  margin-left: 6px !important;
}
.lgap-s {
  margin-left: 10px !important;
}
.lgap {
  margin-left: 20px !important;
}
.lgap-l {
  margin-left: 40px !important;
}
.lgap-xl {
  margin-left: 80px !important;
}
.rgap-xs {
  margin-right: 6px !important;
}
.rgap-s {
  margin-right: 10px !important;
}
.rgap {
  margin-right: 20px !important;
}
.rgap-l {
  margin-right: 40px !important;
}
.rgap-xl {
  margin-right: 80px !important;
}
.tgap-xs {
  margin-top: 6px !important;
}
.tgap-s {
  margin-top: 10px !important;
}
.tgap {
  margin-top: 20px !important;
}
.tgap-l {
  margin-top: 40px !important;
}
.tgap-xl {
  margin-top: 80px !important;
}
.bgap-xs {
  margin-bottom: 6px !important;
}
.bgap-s {
  margin-bottom: 10px !important;
}
.bgap {
  margin-bottom: 20px !important;
}
.bgap-l {
  margin-bottom: 40px !important;
}
.bgap-xl {
  margin-bottom: 80px !important;
}
.pad-xs {
  padding: 6px;
}
.pad-s {
  padding: 10px;
}
.pad {
  padding: 20px;
}
.pad-l {
  padding: 40px;
}
.pad-xl {
  padding: 80px;
}
.hpad-xs {
  padding-left: 6px;
  padding-right: 6px;
}
.hpad-s {
  padding-left: 10px;
  padding-right: 10px;
}
.hpad {
  padding-left: 20px;
  padding-right: 20px;
}
.hpad-l {
  padding-left: 40px;
  padding-right: 40px;
}
.hpad-xl {
  padding-left: 80px;
  padding-right: 80px;
}
.vpad-xs {
  padding-top: 6px;
  padding-bottom: 6px;
}
.vpad-s {
  padding-top: 10px;
  padding-bottom: 10px;
}
.vpad {
  padding-top: 20px;
  padding-bottom: 20px;
}
.vpad-l {
  padding-top: 40px;
  padding-bottom: 40px;
}
.vpad-xl {
  padding-top: 80px;
  padding-bottom: 80px;
}
.lpad-xs {
  padding-left: 6px !important;
}
.lpad-s {
  padding-left: 10px !important;
}
.lpad {
  padding-left: 20px !important;
}
.lpad-l {
  padding-left: 40px !important;
}
.lpad-xl {
  padding-left: 80px !important;
}
.rpad-xs {
  padding-right: 6px !important;
}
.rpad-s {
  padding-right: 10px !important;
}
.rpad {
  padding-right: 20px !important;
}
.rpad-l {
  padding-right: 40px !important;
}
.rpad-xl {
  padding-right: 80px !important;
}
.tpad-xs {
  padding-top: 6px !important;
}
.tpad-s {
  padding-top: 10px !important;
}
.tpad {
  padding-top: 20px !important;
}
.tpad-l {
  padding-top: 40px !important;
}
.tpad-xl {
  padding-top: 80px !important;
}
.bpad-xs {
  padding-bottom: 6px !important;
}
.bpad-s {
  padding-bottom: 10px !important;
}
.bpad {
  padding-bottom: 20px !important;
}
.bpad-l {
  padding-bottom: 40px !important;
}
.bpad-xl {
  padding-bottom: 80px !important;
}
.nogap {
  margin: 0 !important;
}
.nopad {
  padding: 0 !important;
}
.flex {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.f-col {
  -webkit-flex-direction: column !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}
.f-no-shrink {
  -webkit-flex-shrink: 0 !important;
      -ms-flex-negative: 0 !important;
          flex-shrink: 0 !important;
}
.f-grow {
  -webkit-flex-grow: 1 !important;
      -ms-flex-positive: 1 !important;
          flex-grow: 1 !important;
}
.f-start {
  -webkit-align-items: flex-start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}
.f-middle {
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}
.f-end {
  -webkit-align-items: flex-end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}
.f-top {
  -webkit-justify-content: flex-start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}
.f-center {
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}
.f-bottom {
  -webkit-justify-content: flex-end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}
.nowrap {
  white-space: nowrap;
}
.pre {
  white-space: pre;
}
.bbox {
  box-sizing: border-box !important;
}
.block {
  display: block !important;
}
.inline-block {
  display: inline-block !important;
}
.full-width {
  width: 100%;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.bold {
  font-weight: bold;
}
.highlighted {
  box-shadow: inset 0 0 100px 100px rgba(76, 156, 255, 0.2);
}
.small {
  font-size: 90%;
}
.line-height {
  line-height: 1.6;
}
.clickable {
  cursor: pointer;
}
.transitionable {
  transition: all 0.1s ease-out;
}
.no-transitions,
.no-transitions * {
  transition: none !important;
}
.hoverable:hover {
  opacity: 0.8;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}
